<div class="row" id="receta">
    @for (receta of recetas; track $index){
        <div class="col-lg-3 col-sm-4">
            <div class="card">
                <img [src]="receta.getImage()" class="card-img-top" alt="Imagen Receta" height="120px" (click)="detallesReceta(receta.getId())">
                <div class="card-body">
                    <div class="card-title" (click)="detallesReceta(receta.getId())">
                        {{receta.getTitle()}}
                    </div>
                    <div class="card-text" (click)="detallesReceta(receta.getId())">
                        @for (ingrediente of receta.getIngredients(); track $index){
                            @if ($index == receta.getIngredients()!.length -1 ){
                            {{ingrediente}}.
                            }@else{
                            {{ingrediente}},
                            }
                        }
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-danger" (click)="eliminarReceta(receta.getId())">Eliminar Receta</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<app-receta-form [recetas]="recetas"></app-receta-form>